#query{
    width: 130px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    text-align:center;
    margin:auto;
     -webkit-text-stroke: 1px black;
   color: white;
    
}

#query:focus {
    width: 500%;
}

h1{
    text-align:center;
    font-family: '';font-size: 96px;
    font-family: 'Shadows Into Light Two', cursive;
    color:white;
 -webkit-text-stroke: 1px black;
   color: white;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

body {
    background-color:#2d92ff;
}
